@font-face {
    font-family: 'Lato-Thin';
    src: url('src/css/fonts/Lato-Thin');
}

h2, h4 {
    font-family: Lato-Thin;
    font-size: 40px;
}

.center {
    height: 500px;
    width: 500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#radio {

  padding: 0;
  width: auto;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 10px;

}

input {
    padding: 10px;
    width: 500px;
    font-size: 15px;
}

input[type="text"] {
    margin-bottom: 30px;
}

input[type="password"] {
    margin-bottom: 10px;
}

textarea {
    border-color: #cccccc;
    width: 500px;
    max-width: auto;
    height: 200px;
}

button {
    padding: 10px;
    width: 100px;
    background-color: white;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
}

button:hover {
    color: gray;
}

button:active {
    opacity: 0.2;
}

#login-button,
#add-button
 {
    margin-top: 10px;
}

.header-name {

  margin-left: 30px;

}

.requirements {

  height: 150px;
  width: 280px;
  float: left;

  margin-left: 2%;
}
.addform {
float: right;
margin-right: 12%;


}


/* Responsive Design */
@media only screen and (max-width: 570px) {

  .center,
  .header-name {
    text-align:center;

}
  .center h2 {

    font-size: 60px;
    font-weight: 300;
  }

  #login-button {

    height: 50px;
    font-size: 17px;
    font-weight: 300;
  }

  form {
    width: 100%;
    text-align: center;
  }

  .requirements,
  .addform {
    width: 100%;
    margin: 0;
  }
  .requirements{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    float: none;
  }
  .requirements li {
    list-style-type: none;
  }
  #add-button {
    margin-top: 40px;
  }


}
