@font-face {
  font-family: 'Lato-Thin';
  src: url('fonts/lato-thin-webfont.woff2') format('woff2'), url('fonts/lato-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato-Thin;
  font-size: 40px;
}

h5 {
  font-size: 25px;
  font-weight: 500;

}


h6 {
  font-size: 20px;
  font-weight: 500;

}

select {
  background-color: white;
}

form {
     display:inline;
     margin:0px;
     padding:0px;
}


.main-buttons button {
  height: 40px;
  width: 50px;
  margin-top: 16px;
}


#main_button_view {

  display: inline;
}

.main-logs #view_login_logs_button, .login-logs #view_login_logs_button {

  margin-left: 30px;
}

.main-logs, .login-logs {

  width: 80%;
  margin-left: 20px;
}

.main-logs h5, .login-logs h5 {

  float: left;
}

.addform, .deleteform, .removeuserform {

  margin-top: 80px;
  width: 500px;
  margin-left: 25px;
}

.removeuserform {

  float: left;
  display: inline;
  margin-top: 0px;
}

.center {
  height: 500px;
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#e-button, #login-button {

  padding: 10px;
  width: 100px;
  background-color: white;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: black;
  height: 55px;
  margin-right: 30px;
  margin-top: 5px;
}

#e-button:hover {
  color: gray;
}

#e-button:active {
  opacity: 0.2;
}


#larger {
  margin-left: 5px;
}

#num-bugs, #del-bugs, #user-count {

  font-size: 23px;
}


input {
  padding: 10px;
  width: 500px;
  font-size: 15px;
}

input[type="text"], input[type="password"], input[type="email"] {
  margin-bottom: 15px;
}

.modern-input {
  font-size: 20px;
  padding: 10px;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 1px solid black;
}



#login-button, #add-button {
  margin-top: 10px;
}

.header-name {
  margin-left: 30px;
  width: 300px;
}

#user-table {

  float: right;
  display: inline;
}
.leftside-info {
  width: 300px;
}

.main-information {
  margin-top: 10px;
}

.backend-information {
  float: left;
  width: 45%;
  display: inline;
  margin-left: 5%;
}

.main-info {
  width: 45%;
  float: left;
  display: inline;
}

.bug_list {
  float: left;
  clear: left;
  width: 100%;
}

#larger {
  font-size: 18px;
  font-weight: 400;
}

.list-group .list-group-item {
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #6b6d6c;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

#danger-dark {
  color: #a94344;
  height: 11px;
}

#submit_button_2 {
  margin-top: 10px;
}

.account_settings {
  border-radius: 8px;
  width: 60%;
  height: 70%;
  float: right;
  margin-right: 15px;
}

.main-info li {
  display: inline;
  margin-left: 13%;
  cursor: pointer;
}

li:active {
  opacity: 1;
}

.changePassword {
  margin-top: 40px;
}

.request-container {
  margin-left: 50px;
}

#small_input, #small_input2 {
  width: 200px;
}

#small_input2 {
  margin-left: 25px;
}

#request {
  float: right;
  cursor: pointer;
  color: #347bb2;
}

#request:hover {
  text-decoration: underline;
}

#request:active {
  opacity: 0.2;
}

.glyphicon-list, .glyphicon-cog, .glyphicon-inbox {
  margin-right: 10px;
}

.request-container textarea {
  width: 500px;
}

.account_requests_view {
  text-align: center;
}

.account_requests_view button {
  height: 40px;
}

.main-info a:nth-child(6) {
  cursor: pointer;
}

.main-info a:nth-child(5) {
  cursor: pointer;
}

.review-buttons, .delete-buttons {

  margin-left: 20px;
  margin-top: 30px;
  float: left;
}

.bug-count, .delete-count {

    float: right;
    display: inline;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.user-count {

  margin-top: 15px;
  margin-left: 25px;
}


/* Table CSS Layout and Design */

th {
  background-color: #42444d;
  color: white;
}





/* Responsive Design */

@media only screen and (max-width: 570px) {
  .center, .header-name {
    text-align: center;
  }
  .leftside-info, .header-name {
    width: 100%;
    text-align: center;
  }
  button {
    margin: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  .center h2 {
    font-size: 60px;
    font-weight: 300;
  }
  #login-button {
    height: 50px;
    font-size: 17px;
    font-weight: 300;
  }
  form {
    width: 100%;
    text-align: center;
  }

  .requirements {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    float: none;
  }
  .requirements li {
    list-style-type: none;
  }
  #add-button {
    margin-top: 40px;
  }
  .welcome_notes {
    text-align: center;
  }
}
