.intro {


  margin-top: 100px;



}

.form-group {

  width: 450px;
}



#right {

  float: right;
}

.button-cp {

  border: 0;
  background-color: white;
  cursor: pointer;
  font-size: 20px;

}
.button-cp:hover {

  color: blue;


}

.button-cp:active {

  opacity: 0;
}
