.intro {
    margin-top: 100px;

}

.form-group {
    width: 450px;
}

.task-cp {

  margin-left: 25px;
  margin-right: 25px;
  height: 450px;
  float: left;

}

.right-side {


height: 800px;

}

.left-module {

  margin-top: 50px;
}

#message {
    height: 150px;
    margin-top: 15px;
    margin-bottom: 25px;
}

#submit-button {

  margin-left: 40px;
  float: left;
}

#clear-button {

  float: right;
  margin-right: 40px;
}

.button-cp {
    border: 0;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 30px;
}

#add-button {

  color: blue;
}

#reminder-button {

  color: green;
}

#add-button:hover, #reminder-button:hover {

  color: black;

}

.btn {
    width: 100px;

}


#next-button {
    width: 70px;
}

.button-cp:active {
    opacity: 0;
}

.error-output {
    border-color: red;
}
